.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black;
  border: 1px solid grey;
}

.page-item.active .page-link {
  z-index: 1;
  color: white;
  background-color: black;
}

.page-link:focus, .page-link:hover {
  color: #fff;
  text-decoration: none;
  color: white;
  background-color: black;
}

.text-center {
  text-align: center !important;
}
