<!-- display Associate details -->
<tr name="@id" className="associates" data-id=''>
    <td class="align-middle" name="id" hidden=true></td>
    <td class="W6 align-middle" name="name"></td>
    <td class="W6 align-middle" name="firstname"></td>
    <td class="W2 align-middle" name="trig"></td>
    <td class="align-middle" name="idUser" hidden=true></td>
    <td class="W6 align-middle" name="_Users|name"></td>
    <td class="W15 align-middle" name="email"></td>
    <td class="W6 align-middle" name="contactNumber"></td>
    <td class="W15 align-middle" name="address"></td>
    <td name="idAssociateStatus" hidden=true></td>
    <td class="W6 align-middle text-center">
        <div class="rounded px-md-4 mx-md-1 py-md-1" name="_AssociateStatus|color">
            <a class="" name="_AssociateStatus|name"></a>
        </div>
    </td>
    <td class="W6 align-middle" name="startDate"></td>
    <td class="W6 align-middle" name="endDate"></td>
    <td class="W6 align-middle" title="creationDateTime" name="_createdByName"></td>
    <td class="W6 align-middle" title="lastUpdateDateTime" name="_lastUpdateByName"></td>
    <td class='ACT align-middle'>
        <div>
            <!-- edit Associate button -->
            <a href='#' class='btn btn-sm btn-outline-primary rowAssociateAction' title='Modifier' data-action='edit'>
                <i class="fa fa-edit"></i>
            </a>
            <!-- delete product button -->
            <a href='#' class='btn btn-sm btn-outline-danger rowAssociateAction' title='Supprimer' data-action='delete'>
                <i class="fa fa-trash-alt"></i>
            </a>
        </div>
    </td>
</tr>