<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d  
  RewriteRule ^(\w*)\/?(.*)$ api.php?ressource=$1&uri=$2 [QSA,L]
</IfModule>

